<h2>Create new celebrity</h2>

<form action="/celebrities/create" method="POST">

  <label for="name-input">Celebrity Name</label>
  <input id="name-input" type="text" name="name" placeholder="Name">

  <label for="ocupation-input">Celebrity Ocupation</label>
  <input id="ocupation-input" type="text" name="ocupation" placeholder="Ocupation">

  <label for="catchPhrase-input">Celebrity Catch Phrase</label>
  <input id="catchPhrase-input" type="text" name="catchPhrase" placeholder="Catch Phrase">

  <button>Create celebrity</button>
</form>