
<h2>Celebrity</h2>

{{#with celebrity}}
<ul>
    <li>
       <div> Name: {{name}} </div>
    </li>
    <li>
       <div> Occupation: {{occupation}}</div>
    </li>
    <li>
        <div>Know by the the catch phrase: {{catchPhrase}}</div>
    </li>
</ul>

{{/with}}